.h1{
  font-family: $font-text;
  font-size: 30px;
  font-weight: $font-black;
  text-transform: uppercase;
}

.h2 {
  font-size: 14px;
  font-weight: $font-bold;
  text-transform: uppercase;
}

.h3 {
  font-size: 12px;
  font-weight: $font-bold;
  text-transform: uppercase;
}